html,
/* body,
/*.row {
    padding: 10px;
    line-height: 18px;
    color: rgb(48, 46, 46);
    background-color: rgb(65, 89, 148);
    border-radius: 5px;
}
*/
.row {
    padding: 10px;
    line-height: 18px;
    color: rgb(49, 95, 176);
    border-radius: 5px;
}
